.sign_up_form_input_group {
    display: flex;
    flex-direction: column;
    text-align: center;
    .form_input {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
